.proyectos{
  color: #0f0e0e;
  padding-top:50px;
  padding-bottom: 3rem;
  background-color:#ffff;


}
h2{
  color: black;
  font-style: oblique;
}
.card-deck{
width: 100%;
display: flex;
max-width: 100%;
}

.card{
width: 100%;
height: 350px;
margin: 30px;
text-align: center;
color:aliceblue;
border-radius: 8px;
background-color:#5F9EA0;
transition: all 600ms ease;
}

.card:hover{
box-shadow: 5px 50px 20px rgba(67, 116, 88, 0.979);
transform: translateY(3%);
}

.card-img-top{
width: 100%;
height: 80%;
}
