<section class="proyectos">
  <h2 class="text-center">Mis Proyectos</h2>
<div class="card-deck">
  <div class="card">
      <img class="card-img-top" src="assets/IMG/Barberiaalura.PNG" alt="">
      <div class="card-block">
          <h4 class="card-title text-center">Barbería Alura</h4>
          <a href= "https://ivanna49.github.io/ORACLE-BarberiaAlura/" target="_blank" class="btn btn-outline-light btn-sm">Click</a>
    </div>
  </div>
  <div class="card">
      <img class="card-img-top" src="assets/IMG/encriptador.PNG">
      <div class="card-block">
          <h4 class="card-title">Encriptador de texto</h4>
          <a href="https://ivanna49.github.io/Encriptador_de_texto/" target="_blank" class="btn btn-outline-light btn-sm">Click</a>
         </div>
        </div>
  <div class="card">
      <img class="card-img-top" src="assets/IMG/GithubR.PNG">
      <div class="card-block">
          <h4 class="card-title">Mis repositorios de Github</h4>
          <a href="https://github.com/Ivanna49" target="_blank" class="btn btn-outline-light btn-sm">
            Click</a>
      </div>
  </div>
</div>
</section>

