
footer {
  font-family:'Montserrat', sans-serif;
  position: relative;
  background: #5F9EA0;
  width: 101% !important;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h6, p {
  text-align: center;
  color : #ffff;
  margin-top: 0.5em;
  margin-bottom: 0.1em;
  padding: 5px;
}



